<!DOCTYPE html>
<html>
	<head>
	  <title>My Website</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrapper">
			<div class="page-wrapper">
				<div class="flash-message">
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				</div>
				<header>
					<div class="container">
						<p>Header content</p>
					</div>
				</header>
				<div class="content">
					<%= yield %>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
		    <p>Footer Content</p>
		  </div>
		</footer>
	</body>
</html>
